*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

section{
    height: 100vh;
    padding: 30px;
    border: solid 1px black;

}
.formLogin{
    margin-top: 40%;

}

.containerLogin{
    padding-top: 45px;
    padding-bottom: 20px;
    
}

.imgLogo{
    width: 50px;
    height: 50px;
    padding-bottom: 15px;
}

.title{
    color: rgb(72, 72, 177);
}

.wrapInput{
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 37px;
}

.input{
    font-size: 15px;
    line-height: 1.2;
    border: none;
    width: 100%;
    height: 45px;
    background-color: transparent;
    outline: 0;
}

.btnLoginContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(72, 72, 177);
    border-radius: 30px;

}

.btnLogin{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;

}

